.content__template {
  margin-bottom: 1rem;
}

.content__template h5 {
  font-size: 1.3rem;
  color: rgba(58, 53, 65, 0.87);
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: .2px;
}

.content__template p {
  line-height: 1.5;
  color: rgba(58, 53, 65, 0.6);
  font-weight: 400;
  font-size: 0.85rem;
  /* letter-spacing: .2px; */
}
