.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.main__form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
  border-radius: 4px;
  background: #fff;
  width: 270px;
  height: 320px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.main__titleform {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.main__contentinputs {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.main__button {
  display: inherit;
  justify-content: center;
  margin-top: 1rem;
}

.main__button button {
  background: #2074d4;
  padding: .6rem 4rem ;
  color: #eee;
  border-radius: 4px;
  transition: transform 0.1s;
  cursor: pointer;
}

.main__button button:active {
  transform: translateY(-3px);
}

.main__button button:hover {
  background: #247fe6;
}